* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --csu-green: #1e4d2b;
  --csu-gold: #c8c372;
  --csu-white: #ffffff;
  --eighty-gray: #59595b;
  --aggie-orange: #d9782d;
  --alfalfa: #c9d845;
  --canyon: #cc5430;
  --dark-slate: #105456;
  --reservoir: #12a4b6;
  --sunshine: #ecc530;
}

html {
  position: relative;
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e8ecee;
  color: var(--eighty-gray);
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}

header {
  /* background-color: #2441bf; */
  background: var(--csu-green);
  color: var(--csu-white);
  padding: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: 'bemio';
  src: url('Webfont.eot');
  src: url('Webfont.eot?#iefix') format('embedded-opentype'),
    url('bemio-webfont.woff') format('woff'),
    url('bemio-webfont.ttf') format('truetype'),
    url('Webfont.svg#webfont') format('svg');
}

#logo img {
  width: 8rem;
  margin-right: 2rem;
}

#logo {
  position: relative;
  /* margin-left: 2rem; */
  font-family: 'bemio';
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 10px 10px 10px black;
  color: var(--csu-gold);
  display: flex;
  /* flex-direction: column; */
  line-height: 4rem;
}

#logo a {
  text-decoration: none;
  color: var(--csu-gold);
  display: flex;
  flex-direction: column;
}

#logo a:hover {
  text-shadow: none;
}

.logo-title {
  margin-top: 3rem;
}

#logo span {
  position: relative;
  font-size: 1.75rem;
  padding-left: 1.25rem;
  padding-bottom: -2rem;
}

.logo-container {
  display: block;
  width: 50%;
}

.fa-bars {
  font-size: xx-large;
}

/* Navbar container */

nav {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.csu-ram {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
} 

.navbar {
  overflow: hidden;
  padding-right: 2rem;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 1.2rem;
  color: var(--csu-white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-nav {
  display: none;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.csu-ram img {
  height: 4rem;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  /* border-end-end-radius: 15px; */
  color: var(--csu-white);
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 21px;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: var(--csu-white);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  font-weight: 200;
  margin: 0; /* Important for vertical align on mobile phones */
  margin-bottom: 6px;
}

.dropdown-content {
  border-end-end-radius: 6px;
  width: 15rem;
}

.dropbtn-sidenav {
  font-size: 1.5rem;
  padding-left: 2rem;
  background: none;
  color: var(--csu-white);
  font-family: 'Poppins';
  border: none;
}

.dropdown-sidenav-container {
  align-items: center;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  color: var(--aggie-orange);
  background-color: var(--csu-white);
  border-radius: 3px;
}

.fa-caret-down {
  font-size: 35px;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.95;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--csu-white);
  display: block;
  transition: 0.3s;
  text-align: center;
}

a.videos-page-link {
  margin-right: 4rem;
}

.side-nav a:hover {
  color: rgb(184, 180, 180);
}

.side-nav li {
  list-style-type: none;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.open-slide a {
  display: flex;
  justify-content: space-around;
}

/* #main {
  transition: margin-left 0.5s;
  padding: 50px;
  overflow: hidden;
  width: 100%;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #40adce;
  opacity: 0.9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Banner */

#banner {
  padding: 4.5em;
  background: var(--csu-white);
  margin: 2rem auto 0 auto;
  border-radius: 3px;
}

#banner-wrapper {
  display: flex;
  flex-direction: column;
}

#banner.box.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  box-shadow: 2px 4px 4px lightgray;
  /* flex-flow: row wrap; */
}

.banner-title {
  font-size: 3rem;
  margin: 0.1em 0 0.35em 0;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

.banner-title-and-sillhoette img {
  height: 22rem;
}

.banner-title-and-paragraph {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner p {
  font-size: 1.5rem;
  /* line-height: 1.35em; */
  margin: 0;
  font-weight: 200;
  padding-top: 2rem;
}

#banner .scope-and-at-scope-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  width: 40%;
}

#banner .at-scope-now {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2.5rem;
}

#banner .scope-now-button {
  width: 100%;
  margin-bottom: 0.5em;
  background: var(--aggie-orange);
  color: var(--csu-white);
  border-radius: 3px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 2px 4px 4px lightgray;
}

#banner .scope-now-button:hover {
  box-shadow: 0px 0px 0px #ffffff;
  color: var(--dark-slate);
}

#banner .scope-now-button.icon::before {
  position: absolute;
  right: 0.15em;
  top: 50%;
  margin-top: -0.5em;
  display: none;
}

#banner .scope-now-button.alt {
  margin-bottom: 0;
}

#banner ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0 0 2rem;
  width: 100%;
}

#banner ul li {
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.shadow-scope-img1 img {
  margin-bottom: 1rem;
  border-radius: 3px;
  width: 100%;
  height: auto;
}

.peaking-silhouette {
  height: 10rem;
  width: 12rem;
  margin-left: 3rem;
  margin-top: 3rem;
  position: relative;
  z-index: 100;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.5rem;
  padding: 2rem;
  color: var(--csu-white);
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* on hover, add a black background color with a little bit of see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
/* var */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.main-container {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* preview cards */

.preview-cards {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 75%;
}

.preview-card-title-and-paragraph {
  width: 65%;
  max-width: 1500px;
  padding: 2.5rem 2rem 2rem 0;
  color: var(--eighty-gray);
}

.preview-card-title-and-paragraph h3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--eighty-gray);
  padding-bottom: 1rem;
}

.preview-card-title-and-paragraph h3:hover {
  color: var(--canyon);
  cursor: pointer;
}

.preview-card-title-and-paragraph p {
  font-size: 1.25rem;
  font-weight: 200;
  color: var(--eighty-gray);
}

.preview-card-title-and-paragraph a {
  text-decoration: none;
  color: var(--eighty-gray);
}

.preview-card {
  display: flex;
  background: var(--csu-white);
  margin: 1rem 2rem 5rem 2rem;
  box-shadow: 2px 4px 4px lightgray;
  border-radius: 3px;
  height: 26rem;
}

.preview-card img {
  max-width: 100%;
  /* max-height: 100%; */
  width: 100%;
  height: 20rem;
  object-fit: contain;
}

.img-video {
  width: 35%;
  height: 100%;
  max-width: 400px;
  overflow: hidden;
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-loop-preview {
  height: 19rem;
}

.preview-card a {
  color: var(--eighty-gray);
  text-decoration: none;
}

.about-shadow-microscopy a:hover,
.videos-preview a:hover,
/* .learn-more-preview a:hover,
.lessons-preview a:hover, */
.build-one a:hover {
  color: var(--canyon);
}

/* under construction */
.coming-soon-preview p {
  color: var(--aggie-orange);
  font-weight: 400;
  font-size: 3rem;
  padding-top: 1rem;
}
.coming-soon p {
  color: var(--aggie-orange);
  font-weight: 800;
  font-size: 4rem;
}

/* aside */
.news-and-twitter {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.news {
  /* margin-right: 3rem; */
  align-items: center;
}

.news-container {
  height: 47rem;
  max-width: 52rem;
  background-color: var(--csu-white);
  border-radius: 3px;
  box-shadow: 2px 4px 4px lightgray;
  margin-bottom: 5rem;
}

.news-title {
  font-weight: bold;
  padding-bottom: 1rem;
}

.news-date {
  font-weight: 200;
}

.twitter-container {
  height: 60rem;
  max-width: 52rem;
  background-color: var(--csu-white);
  border-radius: 3px;
  box-shadow: 2px 4px 4px lightgray;
  margin-bottom: 5rem;
}

.news-container p {
  text-align: center;
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: var(--eighty-gray);
  font-weight: 300;
  line-height: 1.5em;
}

.news-feed,
.twitter-feed {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--csu-white);
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 2px 4px 4px lightgray;
}

.news-feed {
  background-color: var(--reservoir);
}

.news-feed:hover {
  box-shadow: 0px 0px 0px #e8ecee;
  color: var(--aggie-orange);
}

.blog-block-news-feed {
  padding: 1rem;
}

.blog-block-news-feed p {
  padding-bottom: 1rem;
}

.blog-block-news-feed p a {
  color: var(--eighty-gray);
}

.blog-block-news-feed p a:hover {
  color: #fc4385;
}

.blog-block-news-feed h4 a {
  font-weight: 400;
  color: var(--eighty-gray);
}

.blog-block-news-feed h4 a:hover {
  color: #fc4385;
}

.twitter-feed {
  background-color: var(--canyon);
}

.twitter-feed:hover {
  color: var(--reservoir);
  text-shadow: 0px 0px 0px gray;
}

.twitter-container p {
  text-align: center;
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  color: var(--eighty-gray);
  font-weight: 300;
  line-height: 2.25em;
}

.blog-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.blog-block {
  border-radius: 3px;
  background-color: var(--csu-white);
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 3em auto;
  box-shadow: 2px 4px 4px lightgray;
}

.blog-block span h3 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.blog-block span h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.blog-block p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem;
}

.blog-video {
  width: 50%;
}

.delaney-blogone {
  display: flex;
  justify-content: space-around;
}

.delaney-blogone img {
  width: 48%;
  height: auto;
}

/* videos gallery page */
.pageContentWrapper {
  display: flex;
  justify-content: space-between;
}

.title-and-wait {
  padding-left: 5rem;
  padding-right: 5rem;
}

.videos-title {
  text-align: center;
  padding: 3rem 0 2rem 2rem;
  font-size: 2.5rem;
}

.wait-for-videos {
  padding: 2rem;
  text-align: center;
  font-size: 1.25rem;
}

.sample-video-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.sample-video {
  background-color: var(--csu-white);
  width: 30rem;
  height: 100%;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 2px 4px 4px lightgray;
}

.sample-video iframe {
  margin: 1rem;
  width: 25rem;
  height: 20rem;
}

.video-card a {
  color: var(--eighty-gray);
}

.video-card a:hover {
  color: #fc4385;
  cursor: pointer;
}

/* search in videos page */

.sample-and-youtube-link {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.search-container {
  display: flex;
  max-width: 35rem;
  max-height: 3rem;
  flex: 1 1 300px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.search-bar {
  display: flex;
  width: 100%;
}

.searchIcon {
  padding: 1rem;
  width: 5rem;
  background: var(--csu-white);
}

#search {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 20rem;
  /* flex: 1; */
  width: 100%;
}

.searchButton {
  background: var(--reservoir);
  width: 10rem;
  border: 0;
  color: var(--csu-white);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0;
  cursor: pointer;
}

.searchButton:hover {
  background: var(--dark-slate);
}

.youtube-link {
  padding: 2rem;
  margin: 1rem auto;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.youtube-link h5 {
  font-size: 1rem;
  text-align: center;
}

.youtube-link img {
  width: 8rem;
  padding: 1rem;
  margin-left: 6rem;
}

/* #videos-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 6rem;
  margin: 3rem;
} */

#videos-results {
  width: 500px;
  margin: 3rem;
}

#videos-results h2 {
  margin-bottom: 1rem;
}

#videos-results p {
  padding-top: 1rem;
  font-size: 1.5rem;
}

video {
  width: 100%;
  height: 82%;
  /* width: 100%; */
  /* border-style: solid; */
  /* border-width: 1px; */
  border-color: black;
  border-radius: 3px;
  box-shadow: 2px 4px 4px lightgray;
}

.video-container {
  margin: 10rem;
}

.share {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

/* team page */

.team-container {
  margin: 3rem 10rem;
}

.team-title {
  text-align: center;
  font-size: 3rem;
}

.card {
  background: var(--csu-white);
  display: flex;
  max-height: 35rem;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 2px 4px 4px 4px lightgray;
}

.team-container > div > h2 {
  font-size: 1.5rem;
}

.card img {
  max-width: 25rem;
}

.name-and-bio {
  padding: 1rem;
}

.bio {
  font-size: 1.5rem;
}

/* learn more page */
/* sidenav not to be confused with the popout sidenav for small screens */
.sidenav {
  /* hidden until this page is done */
  display: none;
  width: 250px;
  position: absolute;
  z-index: 1;
  /* top: 0; */
  left: 0;
  /* background-color: lightblue; */
  overflow-x: hidden;
  margin-top: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 2px 4px 4px 4px lightgray;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #fc4385;
  /* text-shadow: 2px 4px 4px black; */
}

/* learn more page */
.main {
  margin: 5rem auto;
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50vh;
  position: relative;
}

.learn-card {
  aspect-ratio: 3 / 4;
  max-width: 20rem;
  max-height: 30rem;
  border-radius: 3px;
  box-shadow: 2px 4px 4px gray;
  padding: 1rem;
  margin: 2rem;
  color: var(--csu-white);
}

.learn-card h3 {
  font-size: 2rem;
}

.learn-card p {
  padding: 1rem 0;
}

.learn-card-clickme {
  color: var(--csu-white);
  font-weight: 800;
}

.history-card {
  background-color: var(--aggie-orange);
}

.history-card-clickme:hover {
  color: var(--reservoir);
  font-weight: 800;
}

.shadows-card {
  background-color: var(--alfalfa);
}

.shadows-card-clickme:hover {
  color: var(--canyon);
}

.light-card {
  background-color: var(--canyon);
}

.light-card-clickme:hover {
  color: var(--reservoir);
}

.microorganisms-card {
  background-color: var(--reservoir);
}

.microorganisms-card-clickme:hover {
  color: var(--canyon);
}

.learn-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5rem;
}

.learn-content h2 {
  padding-bottom: 3rem;
}

/* how-to page */
.how-to-title {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding-top: 3rem;
  color: var(--canyon);
  text-shadow: 2px 4px 4px lightgray;
}

.how-to-subtitle {
  text-align: center;
}

.instructions-container {
  background: var(--csu-white);
  margin: 2rem;
  border-radius: 3px;
  box-shadow: 2px 4px 4px lightgray;
}

hr {
  width: 80%;
  margin: auto;
}

.use-diagram {
  display: flex;
  justify-content: center;
}

.instructions-container p {
  font-size: 1.5rem;
  text-align: center;
  padding: 3rem 0 1rem 0;
}

.bottom-of-scope,
.turned-on,
.scope-on,
.choose-slide,
.place-slide,
.insert-sample-holder,
.move-sample-holder,
.pipetting,
.draw-micro-mural,
.insert-slide,
.move-slide-and-press-record,
.capture-code,
.slide-image,
.dump-water,
.q-tip,
.final-q-tip,
.place-mural {
  display: flex;
  justify-content: center;
}

.at-scope-now-one img,
.turned-on img,
.choose-slide img,
.draw-micro-mural img,
.place-slide img,
.insert-sample-holder img,
.move-sample-holder img,
.pipetting img,
.insert-slide img,
.move-slide-and-press-record img,
.capture-code img,
.dump-water img,
.q-tip img,
.final-q-tip img,
.place-mural img {
  padding: 1rem 1rem 3rem 1rem;
  width: 40rem;
  height: auto;
}

.reminder {
  padding: 3rem;
}

.reminder p {
  font-size: 2.5rem;
}

.reminder a {
  color: var(--eighty-gray);
}

.reminder a:hover {
  color: var(--canyon);
  font-weight: bold;
}

/* build page */
.build-title {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  color: var(--csu-green);
}

.build-container {
  background-color: var(--csu-white);
}

.summary-cards {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  gap: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.title-and-arrow {
  display: flex;
}

.fa-solid {
  color: black;
  background-color: gray;
}

.part-title-and-summary {
  background-color: var(--csu-white);
  display: flex;
  flex-direction: column;
  /* margin: 2rem; */
  margin: auto;
  width: 80%;
  box-shadow: 2px 4px 4px lightgray;
  border-radius: 3px;
  min-height: 13rem;
}

.part-title {
  padding: 1rem;
  font-weight: 800;
}

.part-title-and-summary p {
  padding: 0 0 1rem 2rem;
}

.part-title a {
  color: var(--eighty-gray);
  padding: 3rem;
  font-weight: 600;
}

.part-title a:hover {
  color: #fc4385;
}

.part-one-img {
  /* padding: 3rem; */
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.part-one-img img,
.part-two-imgs img {
  width: 100%;
  border-radius: 3px;
  padding: 0 1rem;
}


/* history of microscopy page */
.history img,
.references img {
  width: 100%;
  margin: 2rem auto 2rem auto;
}

/* footer */
footer {
  /* background: #2441bf; */
  background: var(--csu-green);
  /* background-image: url('../images/footer-bckgd.png');
  background-size: cover; */
  /* position: absolute; */
  bottom: 0;
  overflow: hidden;
  color: var(--csu-white);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* text-shadow: 2px 2px 4px black; */
  font-family: 'Poppins', sans-serif;
  height: 30rem;
}

/* .footer-after::after {
  content: '';
  background-image: url('../images/footer-bckgd.png');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.footer-icons {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  float: left;
  font-size: 4rem;
}

.footer-icons i:hover {
  /* color: #fdf17f; */
  color: var(--csu-gold);
  cursor: pointer;
  box-shadow: 2px 4px 4px black;
}

.font-credit {
  font-size: 1rem;
  padding: 1rem 0;
}

.font-credit a {
  /* color: ivory; */
  color: var(--csu-white);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

.nsf {
  font-size: 1rem;
}

.nsf img{
  width: 10rem;
  padding: 1rem 0 0 0.5rem;
}

.resources {
  margin-top: 1rem;
  font-size: 1rem;
}

.resources h3 {
  margin-bottom: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.resources a {
  text-decoration: none;
  color: var(--csu-white);
}

.resources a:hover {
  color: #fc4385;
}

.in-site-links h3 {
  font-weight: 400;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.in-site-links li {
  list-style-type: none;
}

.in-site-links a:hover {
  color: #fc4385;
}

/* .contact-info {
  font-size: 1.5rem;
} */

.contact-info h3 {
  font-weight: 400;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.contact-info p,
address,
a {
  font-size: 1 rem;
  color: var(--csu-white);
  font-weight: 200;
}

.contact-info a {
  color: var(--csu-white);
  /* font-size: 1.5rem; */
}

.contact-info a:hover {
  color: #fc4385;
}

.footer-copyright {
  display: flex;
  float: right;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 400;
}

.fa-copyright {
  font-size: 2rem;
  padding-right: 0.75rem;
}

.footer-copyright h3 {
  font-weight: 400;
  padding-bottom: 1rem;
}

.footer-copyright p {
  font-weight: 200;
}

.footer-copyright a:hover {
  color: #fc4385;
}

.website-credits {
  display: flex;
  flex-direction: column;
}

/* .fab {
  float: left;
} */

/* contact page */

.contact-container {
  padding: 5rem 10rem 5rem 10rem;
  text-align: center;
  display: block;
  margin: 3rem 30rem 3rem 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 2px 4px 4px midnightblue;
}

div.contact-container {
  background-color: mediumorchid;
}

.contact-container p {
  font-size: 25px;
  font-family: roboto;
  color: var(--csu-white);
}

.contact-container h4 {
  color: black;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.contact-container form {
  display: block;
}

.contact-div {
  padding-bottom: 5rem;
  background-color: lightslategrey;
  box-shadow: lightslategrey;
  width: 50vw;
  border-radius: 3px;
  display: block;
  /* margin-right: auto;
  margin-left: auto; */
  float: right;
}

.contact-us-header {
  color: #ffbd51;
  font-family: bemio;
  font-weight: 600;
  font-size: 45px;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* .email-link {
  text-align: center;
  font-size: 30px;
}

.email-link a {
  text-decoration: none;
}

.email-link a:hover {
  color: aqua;
  background-color: turquoise;
} */

/* ///// inputs /////*/

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 1em;
  /* color: #999; */
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

::placeholder {
  font-style: italic;
  color: #999;
}

.contact-email {
  margin-top: 20px;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 3px;
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 97%;
  font-size: 1.5rem;
  background-color: var(--csu-white);
  color: var(--eighty-gray);
  border-radius: 3px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  /* float: right; */
  width: 12rem;
  margin-top: 15px;
  padding: 7px 35px;
  border-radius: 3px;
  display: inline-block;
  background-color: #4b8cfb;
  color: var(--csu-white);
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

input[type='checkbox'] + label {
  color: #ccc;
  font-style: italic;
}

input[type='checkbox']:checked + label {
  color: #f00;
  font-style: normal;
}

div.info-and-form {
  background-color: var(--csu-white);
}

/* media queries */

@media (min-width: 1536px) {
  .preview-card {
    margin: 0 2rem 1rem 2rem;
  }
  .preview-card-title-and-paragraph h3 {
    font-size: 3rem;
  }
  .preview-card-title-and-paragraph p {
    font-size: 1.5rem;
  }
  .coming-soon-preview p {
    font-size: 3rem;
  }
}

@media (max-width: 1536px) {
  .coming-soon-preview p {
    font-size: 2rem;
  }
  .preview-card {
    margin: 0 2rem 2rem 2rem;
    height: 22rem;
  }
}

@media (max-width: 1280px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .preview-cards {
    margin-top: 5rem;
    width: 100%;
  }
  .preview-card {
    height: 22rem;
  }
  .about-shadow-microscopy img,
  .learn-more-preview img,
  .lessons-preview img {
    width: 80%;
    height: 20rem;
  }

  .build-one img {
    width: 100%;
    height: auto;
  }

  .video-loop-preview {
    height: 18rem;
  }

  .preview-card-title-and-paragraph h3 {
    font-size: 3rem;
  }

  .preview-card-title-and-paragraph p {
    font-size: 1.25rem;
  }

  .news-and-twitter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .news-feed,
  .twitter-feed {
    width: 94.5%;
    margin-left: 1rem;
  }
  .news-container,
  .twitter-container {
    width: 35rem;
    margin: 1rem;
  }
  .pageContentWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .sample-video-container {
    display: none;
  }
  .youtube-link {
    margin-left: 12rem;
  }
  .team-container {
    margin: 3rem 5rem;
  }
}

@media (max-width: 1185px) {
  #logo {
    font-size: 4.5rem;
  }
  .news-container,
  .twitter-container {
    width: 33rem;
    margin: 0.75rem;
  }
  .news-feed,
  .twitter-feed {
    width: 95.5%;
    margin-left: 0.75rem;
  }
}

@media (max-width: 1110px) {
  #logo {
    font-size: 4.25rem;
  }
  .news-container,
  .twitter-container {
    width: 31rem;
    margin: 0.5rem;
  }
  .news-feed,
  .twitter-feed {
    width: 96.85%;
    margin-left: 0.5rem;
  }
}

@media (max-width: 1024px) {
  #logo {
    font-size: 3.75rem;
  }
  .csu-ram {
    margin-top: 0;
  }
  .csu-ram, 
  .navbar {
    padding-right: 0;
  }
  .blog-title {
    font-size: 2rem;
  }
  .img-video {
    width: 45%;
  }
  .preview-card-title-and-paragraph {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    width: 55%
  }
  .preview-card-title-and-paragraph h3{
    font-size: 2.5rem;
  }
  .preview-card-title-and-paragraph p {
    font-size: 1rem;
  }
  .coming-soon-preview p {
    font-size: 1.5rem;
  }
  .news-container,
  .twitter-container {
    width: 26rem;
  }
  .news-feed,
  .twitter-feed {
    width: 96.75%;
    margin-left: 0.5rem;
  }
  .team-container {
    margin: 3rem 2rem;
  }
}

@media (max-width: 888px) {
  header {
    padding: 1.5rem;
  }
  #logo {
    font-size: 3.25rem;
  }
  #logo img {
    margin-right: 1rem;
  }
  .preview-card {
    margin: 0rem 2rem 1rem 2rem;
  }
  .img-video {
    padding-left: 1rem;
    padding-right: 0rem;
    float: left;
  }
  .build-one .preview-card-title-and-paragraph {
    padding-left: 1rem;
  }
  .preview-card-title-and-paragraph {
    padding-right: 0.2;
    padding-top: 1rem;
  }
  .preview-card-title-and-paragraph p {
    font-size: 1rem;
  }
  .moon-boy img {
    display: none;
  }
  .coming-soon-preview p {
    font-size: 1.25rem;
  }
  .news-container,
  .twitter-container {
    width: 23rem;
  }
  .news-feed,
  .twitter-feed {
    width: 96.3%;
    margin-left: 0.5rem;
  }
  .part-one-img {
    padding: 1rem;
  }
  .part-one-img img {
    width: 95%;
  }
  .team-container {
    margin: 3rem 1rem;
  }
  .card img {
    max-width: 20rem;
  }
  .bio {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
  }
  #logo {
    font-size: 2.75rem;
  }
  #logo img {
    width: 6rem;
    margin: 1.5rem 0.75rem 1.5rem 0;
  }
  #logo span {
    padding-left: 0;
  }
  .navbar {
    padding-right: 1rem;
  }
  .navbar a {
    padding-right: 0;
  }
  nav {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .csu-ram {
    display: flex;
    justify-content: end;
    margin-right: 0;
  }
  .peaking-sillhouette {
    margin-left: 5rem;
  }
  #banner {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  #banner.box.container {
    width: 100%;
  }
  .banner-title-and-paragraph {
    width: 100%;
    padding-bottom: 1rem;
  }
  #banner .scope-and-at-scope-button {
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 0;
  }
  .preview-cards {
    margin-top: 3rem;
  }
  .img-video {
    padding-left: 1rem;
    padding-right: 0rem;
    float: left;
    width: 45%;
  }
  .preview-card {
    margin-bottom: 0 0 1rem 0;
    display: flex;
    height: 20rem;
    width: 100%;
    margin-left: 0;
  }
  .preview-card img {
    width: 95%;
    height: auto;
  }
  .preview-card-title-and-paragraph {
    width: 50%;
    padding: 1rem;
  }
  .preview-card-title-and-paragraph h3 {
    font-size: 1.75rem;
  }
  .preview-card-title-and-paragraph p {
    text-align: justify;
    font-size: 1rem;
  }
  /* .preview-card p {
    font-size: 1.15rem;
  } */
  .news-and-twitter {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .news-feed,
  .twitter-feed {
    width: 100%;
    margin: 0;
  }
  .news-container,
  .twitter-container {
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
  .news-container {
    height: 30rem;
  }
  .youtube-link {
    margin-left: 10rem;
  }
  .how-to-subtitle {
    padding-bottom: 1rem;
  }
  .instructions-container {
    width: 100%;
    margin: 0;
  }
  .part-title-and-summary {
    width: 92%;
    margin-left: 1.5rem;
  }
  .card img {
    max-width: 15rem;
  }
  .bio {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  #logo {
    margin-left: 0;
    font-size: 2.5rem;
  }
  .navbar {
    padding: 0 1rem 0 0;
  }
  .preview-card {
    height: 25rem;
  }
  .preview-card p {
    font-size: 0.9rem;
  }
  .img-video {
    width: 60%;
  }
  .preview-card-title-and-paragraph {
    width: 40%;
  }
  .preview-card-title-and-paragraph h3 {
    font-size: 1.75rem;
  }
  .preview-card-title-and-paragraph p {
    font-size: 0.8rem;
  }
  .news-container {
    height: 32rem;
  }
  .happen-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .blog-title {
    margin-top: 2rem;
  }
  .blog-block {
    margin-top: 1rem;
    width: 100%;
  }
  .youtube-link {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
  }
  .youtube-link img {
    margin-left: 4rem;
  }
  .videos-title {
    padding-top: 0;
  }
  .title-and-wait {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .at-scope-now-one img,
  .turned-on img,
  .choose-slide img,
  .draw-micro-mural img,
  .place-slide img,
  .insert-sample-holder img,
  .move-sample-holder img,
  .pipetting img,
  .insert-slide img,
  .move-slide-and-press-record img,
  .capture-code img,
  .dump-water img,
  .q-tip img,
  .final-q-tip img,
  .place-mural img {
    width: 30rem;
    height: auto;
  }
  .part-title-and-summary {
    width: 88%;
  }
  .part-one-img img {
    width: 98%;
  }
  .team-container {
    margin-left: 0;
    margin-right: 0;
  }
  .tim,
  .delaney,
  .joseph {
    display: flex;
    flex-direction: column;
    max-height: 50rem;
    justify-content: center;
  }
  .andrew,
  .ryan,
  .derek {
    display: flex;
    flex-direction: column-reverse;
    max-height: 50rem;
    justify-content: center;
  }
  .image-container {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 30rem;
    max-height: 30rem;
    width: 100%;
  }
  .bio {
    padding-bottom: 1rem;
  }
}

@media (max-width: 510px) {
  #logo {
    font-size: 3rem;
  }
  #logo img {
    margin-top: 3rem;
  }
  .banner-title h4 {
    font-size: 2.5rem;
  }
  .preview-card {
    height: 36rem;
    display: flex;
    flex-direction: column;
  }
  .preview-card img, 
  .img-video iframe {
    width: 100%;
  }
  .img-video {
    width: 65%;
    margin-left:auto;
    margin-right:auto;
    padding:0;
  }
  .preview-card-title-and-paragraph {
    width: 100%;
  }
  .preview-card-title-and-paragraph h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .preview-card-title-and-paragraph p {
    font-size: 1rem;
    text-align: center;
  }
  .build-one img {
    padding-right: 0.5rem;
  }
  .news-feed,
  .twitter-feed {
    margin-left: auto;
    margin-right: auto;
  }
  .news-container,
  .twitter-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .news-container {
    height: 35rem;
  }
  .at-scope-now-one img,
  .turned-on img,
  .slide-image img,
  .choose-slide img,
  .draw-micro-mural img,
  .place-slide img,
  .insert-sample-holder img,
  .move-sample-holder img,
  .pipetting img,
  .insert-slide img,
  .move-slide-and-press-record img,
  .capture-code img,
  .dump-water img,
  .q-tip img,
  .final-q-tip img,
  .place-mural img {
    width: 25rem;
    height: auto;
  }
  .blog-block a {
    font-size: 2rem;
  }
  .part-title-and-summary {
    width: 88%;
    margin-left: 1.5rem;
  }
  .part-one-img {
    padding: 0.5rem;
  }
  .part-one-img img {
    width: 100%;
  }
  .youtube-link img {
    margin-left: 3rem;
  }
  .input {
    font-size: 1rem;
  }
  .sample-video {
    width: 25rem;
  }
  .sample-video iframe {
    width: 20rem;
    height: 15rem;
  }
  .name-and-bio {
    padding-left: 0;
    padding-right: 0;
  }
  .bio {
    font-size: 0.75rem;
  }
  .card {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 415px) {
  header {
    padding: 1rem;
  }
  #logo {
    flex-direction: column;
    font-size: 2.5rem;
  }
  #logo img {
    margin:0;
  }
  .logo-title {
    margin-top: 0;
    line-height: 3rem;
  }
  .csu-ram img {
    height: 3.5rem;
  }
  .peaking-sillhouette {
    margin-left: 6rem;
  }
  #banner h4 {
    font-size: 2.5rem;
  }
  #banner .scope-now-button {
    font-size: 1.5rem;
  }
  /* .preview-card {
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .img-video {
    width: 75%;
    height: 60%;
  }
  .video-loop-preview {
    height: 15rem;
  }
  .preview-card-title-and-paragraph h3 {
    font-size: 1.75rem;
    text-align: center;
  }
  .preview-card-title-and-paragraph p {
    font-size: 1rem;
  }
  .blog-block-news-feed p {
    font-size: 0.75rem;
  }
  .how-to-subtitle {
    padding: 0;
  }
  .instructions-container {
    margin-top: 1rem;
  }
  .instructions-container > section p {
    font-size: 1rem;
  }
  .reminder-p a:hover {
    color: #fc4385;
  }

  .at-scope-now-one img,
  .turned-on img,
  .choose-slide img,
  .draw-micro-mural img,
  .place-slide img,
  .insert-sample-holder img,
  .move-sample-holder img,
  .pipetting img,
  .insert-slide img,
  .move-slide-and-press-record img,
  .capture-code img,
  .dump-water img,
  .q-tip img,
  .final-q-tip img,
  .place-mural img {
    width: 100%;
    height: auto;
  }
  .slide-image img {
    width: 21.5rem;
    height: auto;
  }
  .instructions-container p {
    padding: 1rem;
  }
  .youtube-link {
    margin-left: 4rem;
  }
  .youtube-link img {
    margin-left: 1.5rem;
  }
  .input {
    font-size: 0.75rem;
  }
  .sample-video {
    width: 100%;
  }
  .sample-video iframe {
    width: 90%;
  }
  .videos-title {
    font-size: 1.75rem;
    padding: 1rem 0;
  }
  .learn-card {
    height: 20rem;
  }
  .learn-card h3 {
    font-size: 1.25rem;
  }
  .learn-card p {
    font-size: 0.75rem;
  }
}

@media (max-width: 281px) {
  header {
    padding: 1rem;
  }
  #logo {
    font-size: 2.25rem;
  }
  #logo span {
    font-size: 1.5rem;
  }
  .peaking-sillhouette {
    margin-left: 2.5rem;
  }
  #banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner-title {
    font-size: 2rem;
  }
  #banner h4 {
    font-size: 2rem;
  }
  #banner p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .preview-card {
    height: 28rem;
  }
  .img-video {
    width: 65%;
  }
  .video-loop-preview {
    height: 13rem;
  }
  .preview-card-title-and-paragraph h3 {
    font-size: 1.5rem;
  }
  .preview-card-title-and-paragraph p {
    font-size: 0.75rem;
  }
  .news-and-twitter {
    margin: 0;
    width: 100%;
  }
  .youtube-link {
    margin-left: 1.5rem;
  }
  .youtube-link img {
    margin-left: 0.5rem;
  }
  .instructions-container {
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .how-to-title,
  .how-to-subtitle {
    padding: 0.25rem;
  }
  .instructions-container p {
    padding: 0.5rem;
  }
  .how-to-title {
    padding: 1rem;
  }
  .at-scope-now-one img,
  .turned-on img,
  .choose-slide img,
  .draw-micro-mural img,
  .place-slide img,
  .insert-sample-holder img,
  .move-sample-holder img,
  .pipetting img,
  .insert-slide img,
  .move-slide-and-press-record img,
  .capture-code img,
  .dump-water img,
  .q-tip img,
  .final-q-tip img,
  .place-mural img {
    width: 18rem;
    height: auto;
  }
  .slide-image img {
    width: 16rem;
    height: auto;
  }
  .reminder p {
    font-size: 1.5rem;
  }
  .youtube-link {
    padding: 0.5;
  }
  .learn-card h3 {
    font-size: 1rem;
  }
}
