* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e8ecee;
  color: #696969;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}

.pageContentWrapper {
  margin-bottom: 500px;
}

header {
  /* background-color: #2441bf; */
  background: #1e4d2b;
  color: #ffffff;
  padding: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: 'bemio';
  src: url('Webfont.eot');
  src: url('Webfont.eot?#iefix') format('embedded-opentype'),
    url('bemio-webfont.woff') format('woff'),
    url('bemio-webfont.ttf') format('truetype'),
    url('Webfont.svg#webfont') format('svg');
}

#logo {
  position: relative;
  margin-left: 2rem;
  font-family: 'bemio';
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 10px 10px 10px black;
  /* color: #fdf17f; */
  color: #bdb878;
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}

#logo a {
  text-decoration: none;
  color: #bdb878;
  display: flex;
  flex-direction: column;
}

#logo a:hover {
  text-shadow: none;
}

#logo span {
  position: relative;
  font-size: 1.75rem;
  padding-left: 1.25rem;
  padding-bottom: -2rem;
}

#logo span a {
  text-decoration: none;
  color: #fdf17f;
}

#logo span a:hover {
  color: #e6da6d;
}

.logo-container {
  display: block;
  width: 50%;
}

.fa-bars {
  font-size: xx-large;
}

nav {
  display: flex;
  align-items: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  padding-right: 2rem;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-nav {
  display: none;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.csu-ram {
  display: flex;
  justify-content: flex-end;
}

.csu-ram img {
  height: 4rem;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  /* border-end-end-radius: 15px; */
  color: #ffffff;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 21px;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  font-weight: 200;
  margin: 0; /* Important for vertical align on mobile phones */
  margin-bottom: 6px;
}

.dropdown-content {
  border-end-end-radius: 6px;
  width: 15rem;
}

.dropbtn-sidenav {
  font-size: 1.5rem;
  padding-left: 2rem;
  background: none;
  color: #ffffff;
  font-family: 'Poppins';
  border: none;
}

.dropdown-sidenav-container {
  align-items: center;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  color: #ff7e61;
  background-color: #ffffff;
  border-radius: 5px;
}

.fa-caret-down {
  font-size: 35px;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.8;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: rgb(184, 180, 180);
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.open-slide a {
  display: flex;
  justify-content: space-around;
}

/* #main {
  transition: margin-left 0.5s;
  padding: 50px;
  overflow: hidden;
  width: 100%;
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #40adce;
  opacity: 0.9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Banner */

#banner {
  padding: 4.5em;
  background: white;
  margin: 2rem auto 0 auto;
  border-radius: 10px;
  /*margin: 0 auto;
  top: -20px; */
}

#banner-wrapper {
  display: flex;
  flex-direction: column;
}

#banner.box.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  box-shadow: 2px 4px 4px gray;
  /* flex-flow: row wrap; */
}

.banner-title {
  font-size: 3rem;
  margin: 0.1em 0 0.35em 0;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

.banner-title-and-sillhoette img {
  height: 22rem;
}

.banner-title-and-paragraph {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner p {
  font-size: 1.5rem;
  /* line-height: 1.35em; */
  margin: 0;
  font-weight: 200;
  padding-top: 2rem;
}

#banner .scope-and-at-scope-button {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  width: 40%;
}

#banner .at-scope-now {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2.5rem;
}

#banner .button {
  width: 100%;
  margin-bottom: 0.5em;
  background: #b831ab;
  color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 2px 4px 4px gray;
}

#banner .button:hover {
  box-shadow: 0px 0px 0px #ffffff;
  color: #ff7e61;
}

#banner .button.icon::before {
  position: absolute;
  right: 0.15em;
  top: 50%;
  margin-top: -0.5em;
  display: none;
}

#banner .button.alt {
  margin-bottom: 0;
}

#banner ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0 0 2rem;
  width: 100%;
}

#banner ul li {
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.shadow-scope-img1 img {
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.peaking-silhouette {
  height: 10rem;
  width: 12rem;
  margin-left: 3rem;
  margin-top: 3rem;
  position: relative;
  z-index: 100;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.5rem;
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* on hover, add a black background color with a little bit of see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.main-container {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* preview cards */

.preview-cards {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.preview-card-title-and-paragraph {
  width: 65%;
  max-width: 1500px;
  padding: 2.5rem 2rem 2rem 0;
  color: #696969;
}

.preview-card-title-and-paragraph h3 {
  font-size: 2rem;
  font-weight: 800;
  color: #696969;
  padding-bottom: 1rem;
}

.preview-card-title-and-paragraph p {
  font-size: 1.25rem;
  font-weight: 200;
  color: #696969;
}

.preview-card-title-and-paragraph h3:hover {
  color: #ff7e61;
}

.preview-card-title-and-paragraph a {
  text-decoration: none;
  color: #696969;
}

.about-shadow-microscopy,
.videos-preview,
.learn-more-preview,
.build-one,
.lessons-preview {
  display: flex;
  background: white;
  margin: 1rem 2rem 5rem 2rem;
  box-shadow: 2px 4px 4px gray;
  height: 20rem;
  border-radius: 5px;
}

.img-video {
  width: 35%;
  height: auto;
  max-width: 400px;
  overflow: hidden;
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-shadow-microscopy img,
.video-loop-preview,
.learn-more-preview img,
.build-one img,
.lessons-preview img {
  max-width: 100%;
  /* max-height: 100%; */
  width: 100%;
  height: auto;
  object-fit: contain;
}

.about-shadow-microscopy a,
.videos-preview a,
.learn-more-preview a,
.build-one a {
  color: #696969;
  text-decoration: none;
}

.about-shadow-microscopy a:hover,
.videos-preview a:hover,
.learn-more-preview a:hover,
.build-one a:hover,
.lessons-preview a:hover {
  color: #ff7e61;
}

/* under construction */
.coming-soon-preview p {
  color: #ff7e61;
  font-weight: 400;
  font-size: 3rem;
}
.coming-soon p {
  color: #ff7e61;
  font-weight: 800;
  font-size: 4rem;
}

/* aside */
.news-and-twitter {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.news {
  /* margin-right: 3rem; */
  align-items: center;
}

.news-container,
.twitter-container {
  height: 80rem;
  max-width: 52rem;
  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 4px 4px gray;
  margin-bottom: 5rem;
}

.news-container p {
  text-align: center;
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #696969;
  font-weight: 300;
  line-height: 1.5em;
}

.news-feed,
.twitter-feed {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 2px 4px 4px gray;
}

.news-feed {
  background-color: cornflowerblue;
}

.news-feed:hover {
  box-shadow: 0px 0px 0px;
  color: #ff7e61;
}

.blog-block-news-feed {
  padding: 1rem;
  /* border-bottom: black;
  border-style: ridge;
  border-width: 1px; */
}

.twitter-feed {
  background-color: #ff7e61;
}

.twitter-container p {
  text-align: center;
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  color: #696969;
  font-weight: 300;
  line-height: 2.25em;
}

/* blog page */
/* .happen-container {
  display: flex;
  justify-content: space-around;
} */

.blog-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.blog-block {
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 3em auto;
  box-shadow: 2px 4px 4px gray;
}

.blog-block span h3 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.blog-block span h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.blog-block p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem;
}

.blog-video {
  width: 50%;
}

.moon-boy {
  margin-top: 4rem;
}

/* videos gallery page */
.videos-title {
  margin-top: 3rem;
  margin-left: 2rem;
}

/* search in videos page */
.search-container {
  display: flex;
  max-width: 35rem;
  max-height: 3rem;
  flex: 1 1 300px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 3rem;
}

.search-bar {
  display: flex;
  width: 100%;
}

.searchIcon {
  padding: 1rem;
  width: 5rem;
  background: white;
}

#search {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 20rem;
  /* flex: 1; */
  width: 100%;
}

.searchButton {
  background: #538ac5;
  width: 10rem;
  border: 0;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0;
  cursor: pointer;
}

.searchButton:hover {
  background: #3c6b9c;
}

#videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 6rem;
  margin: 3rem;
}

#videos-grid h2 {
  margin-bottom: 1rem;
}

video {
  width: 100%;
  height: 82%;
  /* width: 100%; */
  /* border-style: solid; */
  /* border-width: 1px; */
  border-color: black;
  border-radius: 7px;
  box-shadow: 2px 4px 4px gray;
}

.grid > div {
  /* ... */
  display: grid;
}
.grid > div::before,
.grid > div > img {
  grid-area: 1 / 1 / 2 / 2;
}

.grid > div > video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-container {
  margin: 10rem;
}

.video-container h1 {
  margin-bottom: 3rem;
}

/* how to use it page */

.use-diagram {
  display: flex;
  justify-content: center;
}

/* learn more page */
/* sidenav not to be confused with the popout sidenav for small screens */
.sidenav {
  /* hidden until this page is done */
  display: none;
  width: 250px;
  position: absolute;
  z-index: 1;
  /* top: 0; */
  left: 0;
  /* background-color: lightblue; */
  overflow-x: hidden;
  margin-top: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 2px 4px 4px 4px lightgray;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #fc4385;
  /* text-shadow: 2px 4px 4px black; */
}

.main {
  /* hide for now */
  display: none;
  margin: 5rem 10rem 5rem 20rem;
  padding: 0px 10px;
}

.learn-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5rem;
}

.learn-content h2 {
  padding-bottom: 3rem;
}

/* footer */
footer {
  /* background: #2441bf; */
  background: #1e4d2b;
  /* background-image: url('../images/footer-bckgd.png');
  background-size: cover; */
  position: absolute;
  bottom: 0;
  overflow: hidden;
  color: #ffffff;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-shadow: 2px 2px 4px black;
  font-family: 'Poppins', sans-serif;
}

/* .footer-after::after {
  content: '';
  background-image: url('../images/footer-bckgd.png');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.footer-icons {
  /* display: flex; */
  /* justify-content: space-between; */
  float: left;
  font-size: 4rem;
}

.footer-icons i:hover {
  /* color: #fdf17f; */
  color: #ffffff;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

.font-credit {
  font-size: 1rem;
  margin-top: 1rem;
}

.font-credit a {
  /* color: ivory; */
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

.resources {
  margin-top: 1rem;
  font-size: 1rem;
}

.resources h3 {
  margin-bottom: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.resources a {
  text-decoration: none;
  color: #ffffff;
}

.resources a:hover {
  color: #fc4385;
}

.in-site-links h3 {
  font-weight: 400;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.in-site-links li {
  list-style-type: none;
}

.in-site-links a:hover {
  color: #fc4385;
}

/* .contact-info {
  font-size: 1.5rem;
} */

.contact-info h3 {
  font-weight: 400;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.contact-info p,
address,
a {
  font-size: 1 rem;
  color: #ffffff;
  font-weight: 200;
}

.contact-info a {
  color: #ffffff;
  /* font-size: 1.5rem; */
}

.contact-info a:hover {
  color: #fc4385;
}

.contact-info address {
  /* font-size: 1.5rem; */
}

.footer-copyright {
  display: flex;
  float: right;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 400;
}

.fa-copyright {
  font-size: 2rem;
  padding-right: 0.75rem;
}

.footer-copyright h3 {
  font-weight: 400;
  padding-bottom: 1rem;
}

.footer-copyright p {
  font-weight: 200;
}

.footer-copyright a:hover {
  color: #fc4385;
}

.website-credits {
  display: flex;
  flex-direction: column;
}

/* .fab {
  float: left;
} */

/* contact page */

.contact-container {
  padding: 5rem 10rem 5rem 10rem;
  text-align: center;
  display: block;
  margin: 3rem 30rem 3rem 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 2px 4px 4px midnightblue;
}

div.contact-container {
  background-color: mediumorchid;
}

.contact-container p {
  font-size: 25px;
  font-family: roboto;
  color: #ffffff;
}

.contact-container h4 {
  color: black;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.contact-container form {
  display: block;
}

.contact-div {
  padding-bottom: 5rem;
  background-color: lightslategrey;
  box-shadow: lightslategrey;
  width: 50vw;
  border-radius: 5px;
  display: block;
  /* margin-right: auto;
  margin-left: auto; */
  float: right;
}

.contact-us-header {
  color: #ffbd51;
  font-family: bemio;
  font-weight: 600;
  font-size: 45px;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* .email-link {
  text-align: center;
  font-size: 30px;
}

.email-link a {
  text-decoration: none;
}

.email-link a:hover {
  color: aqua;
  background-color: turquoise;
} */

/* ///// inputs /////*/

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 1em;
  /* color: #999; */
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

::placeholder {
  font-style: italic;
  color: #999;
}

.contact-email {
  margin-top: 20px;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 97%;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  /* float: right; */
  width: 12rem;
  margin-top: 15px;
  padding: 7px 35px;
  border-radius: 4px;
  display: inline-block;
  background-color: #4b8cfb;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

input[type='checkbox'] + label {
  color: #ccc;
  font-style: italic;
}

input[type='checkbox']:checked + label {
  color: #f00;
  font-style: normal;
}

div.info-and-form {
  background-color: white;
}

/* media queries */

@media (min-width: 1536px) {
  .about-shadow-microscopy,
  .videos-preview,
  .learn-more-preview,
  .build-one,
  .lessons-preview {
    margin: 0rem 2rem 2rem 2rem;
    height: 35rem;
  }
  .preview-card-title-and-paragraph h3 {
    font-size: 3rem;
  }
  .preview-card-title-and-paragraph p {
    font-size: 1.5rem;
  }
  .coming-soon-preview p {
    font-size: 3rem;
  }
}
@media (min-width: 1281px) {
  .about-shadow-microscopy,
  .videos-preview,
  .learn-more-preview,
  .build-one,
  .lessons-preview {
    margin: 0rem 2rem 2rem 2rem;
    height: 35rem;
  }
}

@media (max-width: 1536px) {
  .coming-soon-preview p {
    font-size: 2rem;
  }
}

@media (max-width: 1280px) {
  /* .navbar-nav {
    display: none;
  } */
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .preview-cards {
    margin-top: 5rem;
  }
  .about-shadow-microscopy,
  .videos-preview,
  .learn-more-preview,
  .build-one,
  .lessons-preview {
    height: 25rem;
  }
  .about-shadow-microscopy img,
  .video-loop-preview,
  .learn-more-preview img,
  .lessons-preview img {
    width: 80%;
    height: auto;
  }

  .build-one img {
    width: 100%;
    height: auto;
  }

  .news-and-twitter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .news-feed,
  .twitter-feed {
    width: 100%;
  }
  .news,
  .twitter {
    width: 49%;
  }
}

@media (max-width: 1024px) {
  .csu-ram {
    margin-top: 0;
    margin-right: 1rem;
  }

  .blog-title {
    font-size: 2rem;
  }

  .coming-soon-preview p {
    font-size: 2rem;
  }
}

@media (max-width: 888px) {
  .news-and-twitter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .news,
  .twitter {
    width: 100%;
    margin: 0;
  }
  .news-container,
  .twitter-container {
    width: 100%;
    margin-right: 0;
  }
  .about-shadow-microscopy,
  .videos-preview,
  .learn-more-preview,
  .build-one,
  .lessons-preview {
    margin: 0rem 2rem 2rem 2rem;
  }
  .img-video {
    /* width: 50%; */
    padding-left: 1rem;
    padding-right: 0rem;
    float: left;
  }
  .build-one .preview-card-title-and-paragraph {
    padding-left: 1rem;
  }
  .preview-card-title-and-paragraph {
    padding-right: 0.2;
    padding-top: 1rem;
  }
  .moon-boy img {
    display: none;
  }
  .coming-soon-preview p {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  #logo span {
    padding-left: 0;
  }
  .navbar {
    display: flex;
    justify-content: end;
  }
  .csu-ram {
    display: flex;
    justify-content: end;
    margin-right: 0;
  }
  .peaking-sillhouette {
    margin-left: 5rem;
  }
  #banner {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  #banner.box.container {
    width: 100%;
  }
  .banner-title-and-paragraph {
    width: 100%;
    padding-bottom: 1rem;
  }
  #banner .scope-and-at-scope-button {
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 0;
  }
  .preview-cards {
    margin-bottom: 0rem;
  }
  .img-video {
    /* width: 50%; */
    padding-left: 1rem;
    padding-right: 0rem;
    float: left;
  }
  .about-shadow-microscopy img,
  .video-loop-preview,
  .learn-more-preview img,
  .build-one img,
  .lessons-preview img {
    width: 95%;
    height: auto;
  }
  .preview-card-title-and-paragraph {
    width: auto;
    padding: 1rem;
  }

  .preview-card-title-and-paragraph p {
    text-align: justify;
  }
  .about-shadow-microscopy,
  .videos-preview,
  .learn-more-preview,
  .build-one,
  .lessons-preview {
    margin: 0rem 1rem 1rem 1rem;
    display: block;
    height: 23rem;
  }
  .about-shadow-microscopy p,
  .videos-preview p,
  .learn-more-preview p,
  .build-one p,
  .lessons-preview p {
    font-size: 1.15rem;
  }
  .news-and-twitter {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 640px) {
  #logo {
    margin-left: 0;
  }
  nav {
    flex-direction: column-reverse;
    align-items: center;
  }
  .navbar {
    padding: 0;
  }
  .about-shadow-microscopy p,
  .videos-preview p,
  .learn-more-preview p,
  .build-one p,
  .lessons-preview p {
    font-size: 0.9rem;
  }
  .news-container {
    height: 68rem;
  }
  .happen-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .blog-title {
    margin-top: 2rem;
  }
  .blog-block {
    margin: 0;
  }
}

@media (max-width: 510px) {
  #logo {
    font-size: 4rem;
  }
  .about-shadow-microscopy,
  .videos-preview,
  .learn-more-preview,
  .build-one,
  .lessons-preview {
    height: 20rem;
  }
  .img-video {
    padding-left: 0.5;
  }
  .build-one img {
    padding-right: 0.5rem;
  }
  .news-container {
    height: 85rem;
  }
}

@media (max-width: 415px) {
  header {
    padding: 1rem;
  }
  #logo {
    font-size: 2.85rem;
  }
  nav {
    justify-content: space-between;
  }
  .csu-ram img {
    height: 3.5rem;
  }
  .peaking-sillhouette {
    margin-left: 6rem;
  }
  #banner h4 {
    font-size: 2.5rem;
  }
  .about-shadow-microscopy,
  .videos-preview,
  .learn-more-preview,
  .build-one,
  .lessons-preview {
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-video {
    width: 100%;
    height: auto;
  }
  .preview-card-title-and-paragraph h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .preview-card-title-and-paragraph p {
    font-size: 0.75rem;
  }
  .news-container {
    height: 75rem;
  }
  .blog-block-news-feed p {
    font-size: 0.75rem;
  }
}

@media (max-width: 281px) {
  header {
    padding: 1rem;
  }
  #logo {
    font-size: 2.25rem;
  }
  #logo span {
    font-size: 1.5rem;
  }
  .peaking-sillhouette {
    margin-left: 2.5rem;
  }
  #banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner-title {
    font-size: 2rem;
  }
  #banner h4 {
    font-size: 2rem;
  }
  #banner p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .about-shadow-microscopy,
  .videos-preview,
  .learn-more-preview,
  .build-one,
  .lessons-preview {
    height: 28rem;
  }
  .news-container,
  .twitter-container {
    height: 90rem;
    width: 100%;
  }
  .news-and-twitter {
    margin: 0;
    width: 100%;
  }
}
